[2016-07-28 16:44] billimek opened #1 "Support for ca-certificates"
When attempting to use github enterprise OAuth, the web binary throws the following error:

`concourse-web_1    | {"timestamp":"1469720047.538653135","source":"atc","message":"atc.oauth-callback.callback.failed-to-exchange-token","log_level":2,"data":{"error":"Post https://github.<private domain>.com/login/oauth/access_token: x509: failed to load system roots and no roots provided","session":"3.1"

[2016-07-28 16:59] #1 closed

[2016-09-20 16:20] bacoboy opened #3 "external URL 127.0.0.1 doesn't work with task execute - workaround using local IP"
SETUP: set the external URL as recommended like so:
[code]

Then attempt to use `fly execute` you get a strange tar/gzip error when it attempts to upload the local inputs:

[code]
even though you can connect to `127.0.0.1` port `8080`:
[code]

The workaround for now is to use a real IP instead of `127.0.0.1` or `localhost`

Source of [this workaround](https://groups.google.com/d/msg/concourse-ci/9

[2016-09-20 20:01] vito commented on #3
We fixed the docs on the site, but I forgot we duplicated some of the instructions here.

See https://concourse.ci/docker-repository.html

[2016-09-20 20:01] #3 closed

[2017-05-04 14:11] vito opened #6 "Support service discovery via the magic `127.x.x.x` DNS server"
Many many people have run into this. Docker Compose and various other magic-Docker-sauce runtimes set up a local DNS server to talk to other components (e.g. a Docker registry or other dependent service), but the address it wires in to the container (`127.0.0.11`) is not reachable from the container's network namespace. Nowadays Garden strips it out, which is an improvement as it won't resolve to

[2017-05-09 23:18] chendrix commented on #6
Moved to concourse/concourse#1145

[2017-05-09 23:18] #6 closed

[2017-06-01 14:13] bacoboy opened #7 "web: failed to load authorized keys - compose up not working"
Getting some errors on the web.

Using Docker for Mac Version 17.03.1-ce-mac12 (17661)

First run:
[code]

First time web doesn't start with this error:
[code]

`^C` and do a `docker-compose up` again (this time the database is ready in time), but you get this error:
[code]

Can anybody else confirm/reproduce?

[2017-06-01 14:22] bacoboy commented on #7
Sorry about that.  Seems I forgot to run the keygen documented here:

https://concourse.ci/docker-repository.html

[2017-06-01 14:22] #7 closed

[2018-05-16 22:25] smitt04 opened #10 "Worker fails to create containers"
When running the docker image of the worker in privileged mode I get

[code]

My docker-compose file is

[code]

My Dockerfile

[code]

Some more errors

[code]

[2018-05-30 07:42] avoidik opened #11 "What are CONCOURSE_GARDEN_NETWORK and CONCOURSE_WORKER_GARDEN_NETWORK?"
Could you please elaborate more about these two parameters? I wasn't able to find any reliable information

[2018-06-13 14:31] avoidik commented on #11
really? two weeks and no answer?

[2018-06-14 06:00] avoidik commented on #11
more closest option is `--garden-network-pool`, but still it's different
[code]

[2018-06-18 17:01] AXington opened #13 "CONCOURSE_TSA_HOST and CONCOURSE_TSA_PORT expectations have broken?"
I just upgraded from 3.10.0 to 3.14.1 and my workers would not connect. Before I could set `CONCOURSE_TSA_HOST: "<url>"` and it automatically assumed it was going to use port 2222.

Now when I do that it throws the error:
```{"timestamp":"1529341199.565750837","source":"worker","message":"worker.beacon.beacon.beacon-client.failed-to-connect-to-tsa","log_level":2,"data":{"error":"dial tcp: address

[2018-08-06 18:47] codeword opened #20 "Better instructions how how to fix concourse after restart"
The current instructions under:
https://github.com/concourse/concourse-docker#caveats

are severely lacking:
what does

[code]

even mean?

how does issue https://github.com/concourse/concourse/issues/1457 even relate to the restart problem or provide any guidance for how to fix it?

If 'concoruse-docker' is the recommended 'getting started' method for using concourse, but when you restart it, it

[2018-08-06 18:50] codeword commented on #20
please elaborate on how `fly prune-worker` fixes the problem:
[code]
I assume the worker I need to prune is the one labeled `concourse`

[2018-08-13 08:55] wlwwu opened #21 "latest concourse version 4.x.x image not support"
when trying with latest concourse image, this compose file can't be used. error is that web can't connect database.

[2018-08-13 16:43] vito commented on #20
This is a pretty unconstructive and somewhat rude GitHub issue.

I can't help you to understand something if you just say "what does that even mean?" without explaining at least some specific part that you're confused by and without providing any context to help us understand where you might be getting stuck. I don't doubt that the docs could be made more clear, but you've got to help us help you

[2018-08-13 16:43] #20 closed

[2018-09-01 12:08] kondaurovDev opened #22 "Can't login with fly"
I'm using this docker-compose file:
[code]

I can login via web UI. But when i try to login via concole i get this:

[code]

I navigate browser to that url and get this:
[code]

I just want to play with concourse but it is not so easy in latest version :(

[2018-09-01 12:35] kondaurovDev commented on #22
My .flyrc file was wrong. Deleted it i tried to login. Everything works

[2018-09-01 12:35] #22 closed

[2018-09-18 08:34] sizgiyaev opened #23 "panic when running docker-compose up"
concourse-web_1     | panic: runtime error: invalid memory address or nil pointer dereference
concourse-web_1     | [signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0xfe3485]

Any idea?

[2018-09-18 11:51] cirocosta commented on #23
Hey @sizgiyaev,

It might be that you missed the step regarding key generation.

From the `readme`:

So, that'd mean that `./generate-keys.sh` would be required to be run before `docker-compose up`.

Please let me know if that helps!

Thx

[2018-09-18 18:45] ahaczewski commented on #23
@cirocosta That is not it, I've run `./generate-keys.sh` as well as `sudo ./generate-keys.sh` (so the user does not matter and both times it ends with that panic, just after ATC rotates expired keys.

Here's full stacktrace with 2 important messages from ATC:
[code]

[2018-09-18 21:26] sizgiyaev commented on #23
it helped me
Thanks a lot

[2018-09-19 20:08] robin-rpr opened #24 "set-team & set-pipeline fails with error: forbidden"
* Concourse Version: 4.2.1
* Did this used to work? N/A

When i try to run my `setup.sh` (https://github.com/GONEproject/engine/tree/TASK/ISS%239/.ci) script already fails on the set-team job with `error: forbidden`.

![Image of setup.sh output](https://i.imgur.com/OluhOgO.png)

Heres my `docker-compose.yml` on the serverside:
[code]

Thanks,
Robin Rpr.

[2018-09-19 21:13] robin-rpr commented on #11
Woah, this issue is really getting old. I think concourse/concourse is slowly trying to better separate bug reports in the future..

[2018-09-20 15:05] 0815fox opened #25 "Concourse web does not respond"
I used your `docker-compose.yml` as base for my setup. So far I basically removed the worker completely and modified the path of the keys. When starting I get the following output.

Basically the output looks good, but I cannot connect to the server, I get a time out in the browser. Also my request does not create any further log output.

Thank you in advance for your help.

[code]

[2018-09-25 17:09] vaisyarajuraju opened #26 "concourse 4.2.1 - web login is redirecting to 127.0.0.1"
I am running concourse latest version (from Docker-compose.yml) in a ubuntu 18.0.4 Server and I could access the concourse web UI after bringing up the docker-compose however on login, it redirect the the request to 127.0.0.1 instead of the actual ubuntu server IP. Is there any way to fix it by keeping the server IP instead of redirecting to local server IP 127.0.0.1

![](https://user-images.githu

[2018-09-27 14:10] dzirg44 commented on #23
I rewrited  keygen script because in modern system ssh-keygen generated keys didn't work property with `golang.org/x/crypto/ssh` package. I will try make patch for this on this weekend if  i will have time.
[code]
It is a temporary solution.

[2018-09-28 07:31] ahaczewski commented on #23
Great, thanks for the workaround.

[2018-10-15 19:16] larssb opened #27 "Permission denied when creating workers. Rootfs."
Hopefully someone here can help me with this. I'm running ConcourseCI v4.2.1. Running it via docker-compose.
The version of Docker on the host is  Docker version 17.09.1-ce. I can successfully setup Concourse. However, I get the following error in the tasks of the pipeline I have pushed:

[code]

TRIED:
- Controlling that the `worker` container is running in `privileged` mode. It is.
- Adding
[cod

[2018-10-15 19:16] larssb commented on #10
Are you by any chance running container-station on a QNAP NAS? If so make sure to update to v3.5. But even doing that might not get you full airborn, as their is an issue. See [this issue](https://github.com/concourse/concourse-docker/issues/27)

[2018-10-19 12:59] larssb commented on #26
Hi @vaisyarajuraju,

Are you sure that you have set the `--external-url` as described ind [Docker run installation](https://github.com/concourse/concourse-docker#docker-run)?
I think what you have done is likely that you wrote `http://localhost:8080` or `http://127.0.0.1:8080` in your docker-commpose.yml file or in the in `--external-url` environment variable to docker run. If you want the WEB-UI

[2018-10-19 13:18] larssb commented on #25
The output looks good. See my comment in #26 and also ensure that nothing else on your host is listening on 8080.

[2018-10-24 16:17] loghen41 commented on #23
I have also seen this issue on fedora, @tnwhitwell solution was simple and lightweight to get those keys generated easliy.

[2018-10-30 06:01] 0815fox commented on #25
Thank you. Actually I somehow solved it but do not remember anymore, how. Sorry, that I had forgotten about this issue. So I am closing this as it is of no value anymore.

[2018-10-30 06:01] #25 closed

[2018-11-02 18:06] kobylyanskiy commented on #26
I'm issuing this trouble too. Need to replace 127.0.0.1 with my server IP address to make everything work.

[2018-11-05 06:43] jiaoyan2017 commented on #26
Same issue.
fly -t blu-ci login
logging in to team 'main'

navigate to the following URL in your browser:

  http://x.x.x.x:8080/sky/login?redirect_uri=http://127.0.0.1:38446/auth/callback

In browser, I'm also redirected to 127.0.0.1.

[2018-11-06 17:35] larssb commented on #26
Try with a domainname, that works fine.

[2018-11-07 17:50] sconrod-tester opened #28 "atc.syncer.infra:radar.scan-resource.interval-runner.tick.failed-to-initialize-new-container"
implemented on azure ubuntu-16.04.
All docker containers disappearing following this error repeating in the logs for the web container:
atc.syncer.infrastructure-production:radar.scan-resource.interval-runner.tick.failed-to-initialize-new-containe

[2018-11-09 09:36] avoidik opened #29 "worker with latest docker image - iptables: create-instance-chains: iptables: No chain/target/match by that name"
hi,

could you please guide me how can I fix worker node issue inside the docker container? I'm always getting the following error

[code]

My configuration is here:
https://github.com/avoidik/compose_concourse/blob/master/docker-compose.yml

[2018-11-09 09:42] avoidik commented on #29
there is no iptables binary inside of concourse docker image

[2018-11-09 10:17] avoidik commented on #29
it has failed on

[code]

[2018-11-09 13:47] avoidik commented on #29
solved with docker downgrade

[2018-11-21 10:10] larssb commented on #27
Anyone?

[2018-11-23 20:18] danielrs commented on #23
I created a pull request to fix this issue (#30). OpenSSH has ben generating keys in a different format since `7.8`. Check [here](https://www.openssh.com/txt/release-7.8) for more info.

[2018-12-04 16:43] johnewhitley commented on #23
Running into the same issue on CentOS. Re-created keys using the `--use-pem` flag today.

[code]

[2018-12-15 21:40] larssb commented on #27
Setting $CONCOURSE_BAGGAGECLAIM_DRIVER to `overlay` was not a success. The challenge persists.

[2018-12-16 19:08] larssb commented on #27
I do have an `image_resource` property on my task

[2018-12-16 22:21] kwladyka commented on #23
Why no update concourse to work with it?

[2018-12-19 15:48] dperezmavro commented on #26
Facing this problem here as well. In my case I am running concourse 4.2.2 on GKE and I need to provide the load-balancer IP for this parameter, which I don't know at the time of cluster creation (as the load balancer does not exist...).

Is there any default value that would tell concourse to use the server-ip instead?

[2018-12-20 22:47] #13 closed

[2018-12-30 15:15] ITler opened #31 "Quickstart with docker-compose not working"
Seeing this issue when trying out concourse via `docker-compose` from [Quick Start](https://concourse-ci.org) and then proceeding with first task from [Hello World Tutorial](https://concoursetutorial.com/basics/task-hello-world/)

I run on High Sierra and user docker-machine for my docker environment.

    $ fly -t tutorial execute -c task_hello_world.yml
    executing build 1 at http://192.168.99

[2019-01-03 15:01] vito commented on #27
Hmm, I don't know of any silver bullet for this as kernel errors can be hard to track down, especially with modified kernels. :confused:

Have you been able to try this on a vanilla Linux kernel? This may be too big of an ask for production, since I'm assuming you have your reasons for using that kernel, but for the sake of debugging that seems to me like the most obvious variable to change.

We'v

[2019-01-03 20:10] larssb commented on #27
Hi @vito,

Thank you for replying to the post.

Yeah I can imagine that this issue is quite hard. At the same time I think you are onto something in regards to it being something in the kernel not being enabled.
Start 2018 I had an issue just installing Concourse on my QNAP. On a kernel below v4.2.8. This was caused by "....After our engineer checked, the issue was caused by the "conntrack" kernel

[2019-01-03 20:14] larssb commented on #31
HI @ITler,

I know this is not directly solving the issue you have. However, I I was you I would run it via docker-compose directly. By using "Docker Desktop for MacOS". I have it working on my MacOS (I'm on MacOS Mojave).

I hope that helps you.

[2019-01-03 20:21] larssb commented on #26
Hi @mattskone ... exactly and thank you for trying it.

@dperezmavro, @vaisyarajuraju, @jiaoyan2017 and @kobylyanskiy please do that as well. Also, I'm sure that if you don't configure the ...EXTERNAL_URL... it will default to 127.0.0.1.

See:

[code]

From [Concourse setup docs](https://concourse-ci.org/install.html#quickstart) <-- it is actually clearly stated there.
So read-up on it >> try it o

[2019-01-03 20:22] larssb commented on #21
@wlwwu come on. Give an update please.

[2019-01-03 20:23] larssb commented on #10
@smitt04 ???

[2019-01-03 21:01] smitt04 commented on #10
This is no longer an issue for me as I don't use the compose file anymore.  I am running the binary directly and it works great.  Sorry I can't give you any more info.

[2019-01-03 21:01] #10 closed

[2019-01-09 19:42] johnewhitley commented on #23
I don't think that fixed the key issue.
[code]

[2019-01-10 06:52] ITler commented on #31
For this particular case, this is totally fine. Thanks @larssb for pointing that out... Was time to upgrade my dev environment.

Cheers

[2019-01-10 06:52] #31 closed

[2019-01-15 18:08] vito commented on #27
@larssb Sorry, no ideas here, but maybe others have had experience with Docker/runC/containers in general on QNAP and maybe ran into the same problem? It likely has something to do with user namespaces.

[2019-01-16 14:16] douardda opened #32 "Running a task fails in /opt/resource/check with 'failed to ping registry'"
I am trying to follow the tutorial using the docker-compose.yml to run concourse.

When I try to execute the hello_world task, it fails with:

I can curl the docker registry from within the running worker (using a docker-compose exec concourse-worker bash).

My host is running Debian stretch with

- kernel 4.18.6-1~bpo9+1
- docker 18.09.1
- docker-compose 1.23.2 (pip installed in a python 3.5 venv

[2019-01-16 15:05] douardda commented on #32
Ok so the problem looks similar to https://github.com/concourse/concourse/issues/2388

I finally found the problem: my network does not allow dns traffic other than the internal dns server, so I have modified the docker-compose file to force using this dns server adding the CONCOURSE_GARDEN_DNS_SERVER environment variable.

This DNS quirck should be documented in the readme file or so, I guess.

[2019-01-28 16:09] avoidik commented on #27
@larssb for the `iptables: create-instance-chains: iptables: No chain/target/match by that name.` error please check https://github.com/concourse/concourse-docker/issues/29

[2019-01-28 18:25] avoidik commented on #23
@dzirg44 suggested had helped me to solve the issue, don't forget to re-create docker-machine if you're mapping generated keys as volumes

[2019-01-29 21:07] larssb commented on #27
Hi @avoidik,

I'm not for downgrading (checked #29). Not even sure that is possible on a QNAP and its ContainerStation. But thank you very much for cherping in and suggesting it.

Have a great one.

[2019-02-15 19:18] predatorian3 commented on #27
@larssb which version did you downgrade to? I'm on 4.2.2 on Oracle Linux with UEK R4 Kernel, and I can get the worker to startup, but the same problem exists for me.

[code]

And I thought some people had the right ideas going in other threads, but I haven't seen any actual resolutions yet. However, if you're downgrading and it worked, which version did you downgrade to?

[2019-02-15 22:20] larssb commented on #27
Hi @predatorian3,

I never downgraded. Do not want to do that. So I'm coldstarting Concourse on another machine, away from my QNAP, and running the jobs I need. However, I still want Concourse to work on my QNAP.

The worker also starts for me. The issue happens when whatever job on a pipeline tries to fetch a resource, kickstart a task or the like. Then that error is thrown.

QNAP ended up conclu

[2019-02-25 06:41] moepkid-zz opened #35 "--worker-cert= not recognized by quickstart command"
Hello,

We are trying to use a custom Certificate to use with a child workder (sonarqube runner mvn) and we try to use --worker-cert= but this does not work:

 concourse:
    restart: always
    image: concourse/concourse:4.2.1
    command: quickstart --worker-cert=/etc/ssl
    privileged: true
    depends_on: [concourse-db]
    ports: ["8080:8080"]
    volumes:
    - /etc/ssl/certs:/etc/ssl/certs

[2019-02-25 07:24] moepkid commented on #35
aah, turns out the command is  --worker-certs-dir

[2019-03-01 00:25] SvenDowideit opened #36 "Dockerfile references files that are not in this repo"
clone the repo, run

`docker build .` and you get

[code]

[2019-03-01 00:31] SvenDowideit commented on #36
and of course, in step2 I look at these files, and see they're binaries - looks like an easy "fix" - PR coming up :)

[2019-03-22 09:19] Kernald commented on #29
It's not really a fix though. I have the same issue, and I don't plan on downgrading my Docker install.

[2019-03-22 10:00] avoidik commented on #29
I agree, given the CVE-2019-5736 downgrade is not an option

[2019-03-27 14:54] emempi opened #38 "Concourse docker image is missing 'file' binary used by btrfs driver."
The baggageclaim's btrfs driver is using 'file' to identify whether a volume.img is a btrfs image [1]. Since concourse docker image is missing this file, the check fails [2], invoking an attempt to create btrfs filesystem which then fails. In my case (running in kubernetes), this prevented the worker to start correctly, crashlooping in the process.

[1] https://github.com/concourse/baggageclaim/bl

[2019-03-27 15:34] vito commented on #38
Opened a PR for this here: https://github.com/concourse/concourse/pull/3601 - I'll close before I forget this since the PR can't auto-close it. Thanks for the report!

[2019-03-27 15:34] #38 closed

[2019-03-29 09:18] frankper commented on #26
Hi All

I am trying to deploy  5.0.1 on Kubernetes using the upstream helm chart
External URL has been set correctly ( I can even see it in the web-pods as and ENV variable ) but when I try to authenticate using the cli I get a link

`http://mydomain.com/sky/login?redirect_uri=http://127.0.0.1:54247/auth/callback`

[2019-04-03 21:21] thecpdubguy opened #39 "atc.sky.callback.failed-to-fetch-cookie-state"
Steps followed:
[code]
When I tried logging in with `fly -t local login --concourse-url 127.0.0.1:8080` it gave me a link to follow to login, when doing so using test:test for username:password the two lines below log out in docker-compose session. Came across posts for similar issue in old concourse versions but haven't found anything for this one.

Also, I have a concourse bosh deployment (v5.0.

[2019-04-03 22:10] thecpdubguy commented on #39
Update: When using the [main concourse](http://github.com/concourse/concourse) repo, docker-compose works just fine.

[2019-04-04 08:24] IvanYe opened #40 "can not start web ui concourse 5.0.1"
concourse-web_1     | {"timestamp":"2019-04-04T08:15:50.787838900Z","level":"info","source":"atc","message":"atc.cmd.finish","data":{"duration":234400,"session":"1"}}
concourse-web_1     | {"timestamp":"2019-04-04T08:15:50.787976000Z","level":"info","source":"tsa","message":"tsa.starting-tsa-without-authorized-keys","data":{}}
concourse-web_1     | panic: runtime error: invalid memory address or n

[2019-04-06 21:06] downright77086 opened #41 "Web not connecting to DB"
I have followed instructions about running ssh key gen script, then run docker-compose.
Here is what I see when doing that.

[code]

Here is my compose file just trying to run some testing

[code]

[2019-04-06 22:51] #39 closed

[2019-04-10 16:37] vito commented on #41
It'll fail for a bit as all components start concurrently. It should eventually connect when `db` is accepting connections.

I'd recommend trying `master` again - I just updated `docker-compose.yml`.

[2019-04-10 16:37] #41 closed

[2019-04-10 16:56] #40 closed

[2019-04-10 17:54] vito commented on #26
Closing as it sounds like a configuration issue. :+1:

[2019-04-10 17:54] #26 closed

[2019-04-12 21:45] barrucadu opened #42 ""failed to create volume", Concourse running in docker-compose on Linux"
I've got Concourse running on a NixOS 18.03 VPS inside docker-compose, and this is working fine.  I'm now trying to deploy exactly the same Concourse configuration to another NixOS 18.03 machine, but aren't having any luck.  I'm using the same docker-compose file, and the same pipelines.

The new machine gives errors about being unable to create volumes:

[code]

The `concoursefiles-git` resource

[2019-04-20 00:57] kingcoconut commented on #32
I was having this issue when running a task on the `amidos/dcind` image in privileged mode. I was unable to pull images from my ECR registry. I am running concourse on k8s, deployed via the `helm/charts`. Setting `CONCOURSE_GARDEN_DNS_SERVER` to `8.8.8.8` fixed my issue

[2019-05-01 09:43] karmicgeezer opened #43 "Unable to log in to the Concourse web page"
After a docker-compose up -d, the containers start, however when trying to login in (test/test) I get an HTTP 400 error.

From concourse-docker_web_1:

{"timestamp":"2019-05-01T09:31:31.300276529Z","level":"error","source":"atc","message":"atc.sky.callback.failed-to-fetch-cookie-state","data":{"error":"http: named cookie not present","session":"5.5"}

OS: macOS
Docker engine: 18.09.2

[2019-05-09 21:44] vito commented on #43
Make sure you've accessed Concourse via the configured external URL - i.e. `localhost:8080` and not `127.0.0.1:8080`.

[2019-05-09 21:44] #43 closed

[2019-05-11 11:35] iamrenejr opened #45 "Docker container dies at latest version, and at 5.0.1"
Following the instructions here:

https://concourse-ci.org/install.html

Leads to the docker instance running concourse to simply die. There is no error message that `docker-compose logs -f` gives (only the postgres server logs anything), the container simply cannot run, even if I manually try to do `docker run -d -p 8080:8080 <image_name>`

I've downgraded to v5.0.1, and the same issue happens.

[2019-05-13 16:19] vito commented on #45
This is *probably* fixed by https://github.com/concourse/concourse/pull/3766 which will be in v5.2.

[2019-05-13 16:19] #45 closed

[2019-05-14 20:14] vito commented on #42
Are there any `baggageclaim` logs with more information?

[2019-05-30 19:09] b3ccio opened #48 "Running concourse-docker on CF/PCF"
Is there any documentation for running concourse-docker on CF or PCF? I need to sort out a few errors after a `cf push` including assigning the correct port and:
```[ERR] Please specify one command of: generate-key, land-worker, migrate, quickstart, retire-worker, web or worker``` Thanks.

[2019-06-05 20:29] vito commented on #48
This is not supported. Concourse workers need a privileged container, which CF does not support.

[2019-06-05 20:29] #48 closed

[2019-06-08 05:56] ajaysheoran2323 commented on #26
where do I need to update this `--external-url` . I setup concourse using helm chart and I dont have `values.yaml` file.

[2019-06-08 16:59] barrucadu commented on #42
Here's the log from the systemd unit running `docker-compose`: https://misc.barrucadu.co.uk/forever/e4355f6a-9b9e-449b-8263-196cc1222161/concourseci.log

There are a few `baggageclaim` errors:

[code]

[2019-06-12 18:22] vito commented on #42
Looks like a pretty low-level failure, possibly from an incompatibility with your kernel/OS stack - we haven't tested NixOS. :thinking: To get to the bottom of the 'invalid argument' error you'll probably need to run `strace` against the `concourse worker` process. Sorry the logs aren't super useful.

[2019-06-15 15:04] mengxu2018 commented on #41
I met this issue just now , how to fix it?

[2019-06-19 01:39] caiges commented on #42
I'm getting this on Arch running in compose as well. Tried running the worker with strace but I didn't see anything that stood out.

[2019-06-19 04:08] caiges commented on #42
Switching my Docker storage driver to `vfs` allows me to work around this issue but I don't think that's a solution. I haven't fully taken a dive into what's actually happening here.

[2019-06-19 20:37] caiges commented on #42
@barrucadu setting:
[code]
and adding a volume for the `/worker-state` directory in my worker's service configuration was necessary for baggageclaim to create volumes.

[2019-06-20 20:41] barrucadu commented on #42
I tried setting `CONCOURSE_WORKER_WORK_DIR`, after adding a worker container (rather than using the `quickstart` command), giving [this docker-compose file](https://gist.github.com/barrucadu/e96477c5a193793c01a3a056b35185a1), but had the original problem.

I then tried switching to the `overlay2` storage driver, but docker doesn't seem to support `overlay2` on zfs (do you also use zfs, @caiges?):

[2019-06-21 17:37] caiges commented on #42
I did a cursory search and couldn't find that `CONCOURSE_WORKER_WORK_DIR` is referenced anywhere. `CONCOURSE_WORK_DIR` does appear to be used.

I don't use ZFS but you could configure docker to use a different partition for its storage that supports "overlay2".

[2019-06-26 17:07] vito commented on #42
FWIW I think you'd want to `grep` the output for `EINVAL`.

Here's a snippet that'll strip out a lot of noise:

[code]

[2019-07-04 11:23] smelc opened #49 "quick start: web interface does not respond"
We're evaluating transitioning from [buildbot](http://buildbot.net/) to concourse but we could not get the [Quick Start](https://github.com/concourse/concourse/blob/master/README.md) to work.

Here's the steps I've done:

[code]

Both browsers do not fail immediately, there seems to be something at the endpoint:

[code]

but ultimately nothing shows up. I've attached the log of `docker-compose up`

[2019-08-13 13:37] smelc commented on #49
Anyone ? This is a bummer to evaluate concourse :-(

[2019-08-13 15:52] vito commented on #49
:man_shrugging: I can only guess the root cause. We have a bunch of engineers using Docker Compose all day and haven't run into this. Wild guess: corporate firewall getting in the way? Maybe try `localhost:8080` instead?

You'd probably get more responses by asking in the [forums](https://discuss.concourse-ci.org/).

[2019-08-13 18:53] smelc commented on #49
Retried after reading your comment and both 127.0.0.1:8080 and localhost:8080 are working.. Dang I had tried numerous times before creating the issue :-/ I must have missed something in the first place.. Sorry for the noise. I'll now evaluate moving from buildbot to concourse :-)

[2019-08-13 18:53] #49 closed

[2019-08-13 18:56] vito commented on #49
Haha, no problem!

[2019-09-05 09:37] sanjaykmruk commented on #26
@ajaysheoran2323  you can create a values.yml file and set the value there as

concourse:
  web:
    externalUrl: "external url"

and refer this value.yaml file on helm install command like this : helm install -f <path to values.yml file> stable/concourse

[2019-09-30 15:15] Zagitta opened #50 "Docker swarm incompatability"
It might be worth to write in the documentation this won't work on docker swarm due to the requirement of privileged mode.
The database and web containers will work just fine however the worker node will fail with some very cryptic error messages like:
`{"timestamp":"2019-09-30T14:31:24.520408669Z","level":"error","source":"guardian","message":"guardian.starting-guardian-backend","data":{"error":"

[2019-10-19 08:25] brandonkal opened #53 "Large base image"
Is using the large ubuntu base image required here? One image layer is 1.11 GB.

[2019-11-05 15:59] deniseyu opened #54 "Document CONCOURSE_GARDEN_ENABLE_DNS_PROXY flag"
This flag is configurable for Linux worker nodes, and is generally only used when running Concourse with Docker due to how DNS resolution works inside Docker containers when using [embedded user-defined networks](https://docs.docker.com/v17.09/engine/userguide/networking/configure-dns/). Since this wouldn't be used by other deployment methods like BOSH or systemd, it doesn't make sense for this to

[2019-11-08 08:01] tomoyukim opened #55 "resource script '/opt/resource/in [/tmp/build/get]' failed: exit status 1 in resource"
Hello.

I faced the following error in [github-pr-resource](https://github.com/telia-oss/github-pr-resource) resource on RancherOS with Portainer. There's no stderr output.

`resource script '/opt/resource/in [/tmp/build/get]' failed: exit status 1`

Previously, I ran concourse-docker with docker-compose on BargeOS with VirtualBox. Everything worked fine on the environment.

I also found the below

[2019-11-18 12:36] mikroskeem commented on #42
I'm running into same issue - NixOS 19.09 and ZFS. I'll try debugging this...

[2019-11-18 13:19] mikroskeem commented on #42
`[  395.180725] overlayfs: filesystem on '/workdir/overlays/14745864-d72c-4d46-4dd3-e03ffb3a8585' not supported as upperdir`

So I assume that worker strictly attempts to use overlayfs. I'm not entirely sure how Concourse works internally yet, but I'll try to feed an ext4 based workdir hosted on ZFS zvol to worker instead.

[2019-11-18 13:32] mikroskeem commented on #42
Yeah that seems to work.

1) Create zvol with ext4
[code]

2) Configure NixOS to mount it at `/mnt/concourse-workdir0`
Into configuration.nix, add:
[code]

3) Configure worker to use given workdir

1) (bind?) mount host's /mnt/concourse-workdir0 to /workdir
2) set `CONCOURSE_WORK_DIR` to `/workdir`

[2020-01-30 23:34] trevormarshall commented on #42
We are seeing this error very frequently in the Spring Boot builds. We are running v5.7.2 on `bosh-vsphere-esxi-ubuntu-xenial-go_agent  621.29` stemcell, using the `overlay` driver.

In `web.stdout.log` we have:

[code]

In `worker.stdout.log` we see the baggageclaim error:

[code]

The error arrives at the end of builds. The pipelines use https://concourse-ci.org/tasks.html#task-caches to cache d

[2020-04-10 19:37] exosyphon-meritize opened #57 "Help setting up AWS Secrets manager"
I have been trying to figure out how to configure Concourse to use the AWS Secrets Manager and I added the following environment variables into the docker-compose file but from the logs it doesn't look like it ever reaches out to AWS to fetch the creds. Am I missing something or should this automatically happen when adding these environment variables under environment in the docker-compose file?

[2020-04-16 15:01] exosyphon-meritize commented on #57
Having these worked but I needed to have the / on the front of my AWS secrets (e.g. /concourse/teamname/secret) and then have the value be only a string.

[2020-04-16 15:01] #57 closed

[2020-04-23 13:49] vito opened #58 "Set various env vars for keys only for the appropriate command (`web` or `worker`)"
Related: https://github.com/concourse/concourse/pull/5491

Currently we configure all the env vars unconditionally:

https://github.com/concourse/concourse-docker/blob/3a4ac97feeea862d66cd513634b44b78903d0991/Dockerfile#L10-L17

This is a handy shortcut but no longer works now that we've modified `go-flags` to actually perform validation against env vars.

For backwards compatibility, it would be

[2020-04-23 18:18] #58 closed

[2020-05-04 05:37] Grimeton opened #60 "Put ./keys/generate into the docker image"
Hi,

put the file into the docker image so that one can do a one-stop-shop key generation. I don't want to pull down a git repo to generate keys that are needed inside a docker image.

Cu

A script like this, from the top of my head:

[code]

This is what I put together to auto generate the keys on the outside...
[code]

[2020-05-14 12:02] bottkars opened #61 "Concourse 6.1.0 Workes Fail with net.ipv4.tcp_keepalive_time"
When running Concourse worker on dcoker Compose, guardian failes with: failed to retrieve kernel parameter "net.ipv4.tcp_keepalive_time": open /proc/sys/net/ipv4/tcp_keepalive_time: no such file or directory.
So inessence, not able to start any Job on my Docker Worker . reverting the worker back to 6.0 just works fine

[2020-05-14 13:31] cirocosta commented on #61
Hi @bottkars ,

Would you mind sharing which version were you using?
Is that 6.1.0?

Thanks!

[2020-05-21 07:24] NewJorg commented on #29
Had the same problem and after some debugging I could fix it for me by building the netfilter comment match module on the host system.
Activating the following kernel option and compile the module
```CONFIG_NETFILTER_XT_MATCH_COMMENT=m```
So my problem was the `-m comment`. Hopefully it can help someone in the future

[2020-05-22 15:45] hemna opened #62 "Concourse 6.1.0 worker fails with private key not provided"
I just updated to 6.1.0 from 6.0.0 and now my worker container complains about a
private key not provided.

[code]

When I try and run a pipeline then I get another error about a base resource not found.

[code]

[2020-05-22 15:47] hemna commented on #62
found the problem with my docker-compose.yml

[2020-05-22 15:47] #62 closed

[2020-05-23 20:17] kc1r74p commented on #61
Hi @cirocosta,
having same errors on my workers.
Using concourse 6.1.0 Linux binaries on:
- Ubuntu 16.04.2 LTS

Having 2 different errors where one is the time.
Also checked and all files are there and have default values.

![grafik](https://user-images.githubusercontent.com/7422353/82739800-1641c480-9d43-11ea-8cce-9d44c2394a85.png)

Best regards
Patrick

[2020-05-26 16:35] avoidik commented on #29
@NewJorg what OS, kernel version it was?

[2020-05-29 20:25] NewJorg commented on #29
@avoidik Gentoo and kernel version 5.4.38-gentoo

[2020-06-01 15:48] RealOrko opened #63 "Web not connecting to Db on Fedora 32"
Hi

I have just taken the latest cut of master and I am noticing in the logs for `docker-compose up` that the web is having trouble connecting to the database:

[code]

I am using docker community edition on fedora 22 with the following details:

[code]

[code]

[code]

[code]

[code]

I also tried a few network mode configurations (bridge & host) without any luck. Is there anything else you could

[2020-06-01 15:59] RealOrko commented on #63
Finally found the problem! After disabling firewalld everything started working.

[code]

[2020-06-01 15:59] #63 closed

[2020-06-03 14:27] jamieklassen commented on #61
I figured out the root cause. I'm still not sure if we should change our release notes to announce the breaking change or whether we might actually need to make a change to enable running concourse workers inside a Linux 4.4 container: https://github.com/concourse/concourse/issues/5711#issuecomment-638224176

[2020-06-13 07:11] bottkars commented on #61
sorry for late reply. I was testing 6.1 and 6.2 on DOcker Compose on a qnap NAS for (one) of the Worker Nodes. The Web Nodes and All Other Workers run on AzureStack deployed from a bosh release

[2020-06-14 02:08] eudes opened #64 "Generate keys script fails on MINGW64 env"
The generate keys script fails when run on windows using MINGW64 (Git bash).

[code]

[2020-07-02 16:17] #64 closed

[2020-08-31 17:40] antgrigorov opened #67 "Could not resolve host: github.com"
I am using the concourse-docker on Mac and I am getting the error below as soon as I start a pipeline. Any suggestion how to solve it?

run check step: run check step: check: resource script '/opt/resource/check []' failed: exit status 128

stderr:
Cloning into '/tmp/git-resource-repo-cache'...
fatal: unable to access 'https://github.com/concourse/docs/': Could not resolve host: github.com

Thanks

[2020-09-03 15:42] chenbh commented on #67
@antgrigorov this seems to be a problem with the latest git resource and Docker for Mac, I've wrote up an issue and workarounds at concourse/concourse#6038

[2020-11-26 15:00] inkblot commented on #42
I started seeing this error after upgrading from concourse 6.1.0 to 6.7.1. I have downgraded back to 6.1.0.

Only resources using custom resource types are affected. I am running my workers on Flatcar Linux (successor of the defunct CoreOS) as a docker container started by a systemd unit. I have tried setting the baggageclaim driver to overlay and naive with the same results as the default value.

[2020-11-27 17:57] inkblot commented on #42
I've isolated the problem to the upgrade from 6.6.0 to 6.7.1. All concourse minor versions fro 6.1.0 though 6.6.0 are able to process resources with a custom resource type correctly.

[2021-01-14 16:16] charlie-haley opened #68 "Multi-arch ARM docker build"
With ARM on the rise and most major cloud providers offering ARM instances, would it be possible to get ARM docker builds?

[2021-01-18 13:20] 4n70w4 commented on #50
THe same issue:

[code]

[2021-02-10 04:27] trolleksii commented on #29
I had this issue with Concourse on Kubernetes installed with Helm chart. I was using Arch on the host with kernel 5.4.94-1-lts.
After some experimenting I found that changing worker runtime to `containerd` solves the issue. Here's excerpt from values.yaml I used:

[code]

[2021-03-31 20:12] taylorsilva commented on #67
This has been resolved with newer versions of docker for mac

[2021-03-31 20:12] #67 closed

[2021-03-31 20:14] taylorsilva commented on #55
oof, this is super stale. Closing, we're on v7 now on Concourse. Post this in the main concourse/concourse repo if you're still having issues
https://github.com/concourse/concourse

[2021-03-31 20:14] #55 closed

[2021-03-31 20:16] taylorsilva commented on #53
It's not required, a smaller image could be built. The reason it's so large is because it contains all the base resource-types. You basically have ubuntu stored 14 times inside that image :(

Closing because I think this answers your question and it's pretty stale.

[2021-03-31 20:16] #53 closed

[2021-04-28 13:38] username-is-already-taken2 opened #69 "[7.2.0] Error starting worker - btrfs command"
Hi there
I'm trying to bring up concourse with the docker-compose file but its failing to bring up the worker
[code]
To get round it I changed the driver to be detect (I commented it out to get the error again)

![image](https://user-images.githubusercontent.com/13700297/116413026-24d80c00-a82f-11eb-993c-cd0fb4c05938.png)

Happy to PR if you think that should be the default for the docker-compose

[2021-05-04 16:29] taylorsilva commented on #69
That's odd since the default is `detect` in the binary. I wonder why adding that worked for you?

[2021-05-29 21:24] FallingSnow opened #70 "Docker Quickstart results in endless worker connection refused messages"
[code]

results in

[code]

[2021-05-29 21:38] FallingSnow commented on #50
I'm running into this issue on #70 but I'm not using docker swarm, just docker.

[2021-05-29 21:38] #70 closed

[2021-07-26 04:36] nrvale0 opened #73 "fatal: repository '/tmp/git-resource-repo-cache' does not exist"
I've been setting up a small lab environment based on Concourse using the docker-compose YAML in this repo. I have a very simple test jobs that tries to fetch a GH repo but when I'm getting the following error:

```fatal: repository '/tmp/git-resource-repo-cache' does not exist```

I see that error mentioned a few places on the Internet. Most of them are rather old and unresolve and many of them i

[2021-08-06 23:21] nrvale0 commented on #73
This was a result of of typo in the job def: s/url/uri/g

[2021-08-06 23:21] #73 closed

[2021-08-11 12:25] barrucadu commented on #70
@FallingSnow Did you find a solution for this?

[2021-09-18 12:03] pythys opened #74 "Worker fails to start on newer version of docker"
On a fresh clean repository I do the following:

1. ./keys/generate
2. docker-compose up -d --build
3. I get the below error from the worker and it crashes

My environment:
- Arch linux
- Docker version 20.10.8, build 3967b7d28e
- docker-compose version 1.29.2

[code]

[2021-09-22 15:52] taylorsilva commented on #74
[code]
means you probably have cgroups v2 enabled and are using the default container runtime garden/guardian. You can do one of the following:

1. Disable cgroups v2 and go back to v1
2. Switch the worker's container runtime to containerd which supports cgroups v2 `CONCOURSE_RUNTIME=containerd`

[2021-09-22 21:55] pythys commented on #74
Excellent! The `CONCOURSE_RUNTIME` did the trick for me and it's much easier and cleaner than downgrading cgroups. I hope we eventually won't need this workaround.

Thank you so much!

[2021-09-22 21:55] #74 closed

[2021-09-23 20:10] taylorsilva commented on #74
containerd will be the default runtime in the future for Concourse. The garden/guardian team isn't doing feature work afaik.

[2021-10-14 05:44] awuetz opened #75 "Worker fails: failed to retrieve kernel parameter "net.ipv4.tcp_retries1""
Hello folks,

the worker with image tag Version `7.5.0` and with `7.5.0-ubuntu-20211012` is failing to retrieve kernel parameter.
message in concourse gui:
[code]

[2021-10-21 11:58] robinhuiser commented on #27
Not sure if this helps, but I got a similar error when deploying Concourse on Microk8s - in the end it was not a permission problem, but a runtime setting - once I set `CONCOURSE_RUNTIME=containerd` the issue was solved.

[2021-10-21 14:17] #27 closed

[2021-11-03 07:34] mlilien opened #76 "containerized concourse 7.4.1 with cgroup v2 + containerd results in "max containers reached" errors"
We use concourse 7.4.1 in a docker container on a system with cgroups v2 enabled. The worker is configured with `CONCOURSE_RUNTIME: containerd`. We get "max containers reached" errors shortly after startup. When we list the workers containers we get a list of around 120 entries, but not 250. Expected is a value around 60.
The error seems to be related to our hosts cgroup v2 configuration:

[code]

[2021-11-08 18:54] #76 closed

[2021-12-07 12:11] combor commented on #76
Hi, we are facing the same issue and the solution from https://github.com/concourse/concourse-docker/pull/77 seem to fix the problem but it looks like this is not released in the container yet. Do you know when it can be released?

[2021-12-07 19:31] taylorsilva commented on #76
Not ETA on a release but it will definitely be in the next release, so `7.7.0`

[2021-12-08 16:53] theghost5800 commented on #68
Any news about this topic? It will be great to be able to run concourse locally on mac with M1 based processor, so arm64 image will be required.

[2021-12-21 18:19] jrhode2 commented on #68
Yeah, this would be great. I was trying to run concourse locally and the worker dies with this stack trace:
[code]

[2022-01-07 09:20] arulagrawal opened #78 "How to connect the worker to the web instance?"
Running the given docker-compose.yml file after generating the keys on my local machine results in
`worker_1  | {"timestamp":"2022-01-07T09:06:38.289690700Z","level":"info","source":"baggageclaim","message":"baggageclaim.using-driver","data":{"driver":"overlay"}}
worker_1  | {"timestamp":"2022-01-07T09:06:38.294664400Z","level":"info","source":"baggageclaim","message":"baggageclaim.listening","dat

[2022-01-07 09:32] #78 closed

[2022-01-16 03:28] Niceplace commented on #78
@arulagrawal were you able to solve your issue ? If yes can you post a solution ? I am trying to get setup for the first time using docker-compose and I am trying to find solutions. Cheers ! :)

[2022-01-16 11:34] arulagrawal commented on #78
@Niceplace sorry to close without providing any info! I realized the same issue was mentioned in #74 and the fix there is what I needed as well

[2022-01-26 09:40] theghost5800 commented on #68
@jrhode2 I had the same issue and resolution for this is to migrate Docker Desktop for Windows from Hyper-V to WSL2.

[2022-01-26 16:36] jrhode2 commented on #68
Thanks @theghost5800 but unfortunately I'm working on a mac with the Apple M1 chip.

[2022-01-28 18:39] Eeems commented on #50
https://github.com/moby/moby/issues/24862
Looks like this wont be solved anytime soon.

[2022-01-28 19:15] Eeems commented on #50
I've managed to get a little further by replacing `privileged: true` with `cap_add: [NET_ADMIN]` and setting CONCOURSE_RUNTIME` to `containerd`

I'm now stuck on the following error:
[code]
Which shows up as `run check: find or create container on worker 3272415d73a2: failed to create volume` on web ui.

It might be because I'm trying to create a privileged docker-image container.

[2022-02-01 17:25] natto1784 opened #79 "using a registry-image in a task fails in concourse 7.6.0"
Similar to #76
stderr says
[code]
The problem is exactly the same as https://github.com/concourse/concourse/discussions/7953
Copying the entrypoint from #77 doesn't help either.  The only difference is
[code]
CONCOURSE_RUNTIME is set as "containerd" for the worker.
Running this modified image https://github.com/robinhuiser/concourse-arm64 for my RPi

[2022-02-03 08:50] robinhuiser commented on #79
Hi @natto1784!

* which version of Concourse are you using?
* is this happening with every registry image task?
* is this only applicable with dcind?
* can you share the task file?

[2022-02-03 09:19] natto1784 commented on #79
@robinhuiser Thank you for responding!

7.6.0

I've only tried the busybox:latest image. The task is a simple `echo hello world`

Likely, but I have only used the docker image for concourse (https://hub.docker.com/r/rdclda/concourse) since I'm running it on a Raspberry PI 4. Please note that I'm running two concourse images separately as web and worker nodes, both under Nomad.

[https://git.weirdn

[2022-02-04 18:50] natto1784 commented on #79
Okay, this solved itself, looks like I wasted so many hours over nothing. What I did was
1. Wipe the entire concurse-worker work directory
2. WIpe the entire concourse DB (it was a fresh install anyway)
3. Set "default-cgroupns-mode" to "host" in docker daemon

Then it worked! With no errors!

4. Then I removed the "default-cgroupns-mode" setting I had set earlier

After restarting everything, it

[2022-02-04 18:50] #79 closed

[2022-02-20 15:04] larssb commented on #27
Allow me to come back and chime in. It seems I've finally succeeded in solving this. The culprit being something along the following lines.

- cgroups v1 is used on the QNAP I'm using
- kernel `v5.10.60-qnap`

the most recent iteration of the err. is `mounting cgroup to rootfs at /sys/fs/cgroup caused: invalid argument: unknown`

Trying one more debugging session on this and found it could potenti

[2022-02-26 05:48] meezaan commented on #76
@taylorsilva Do you have any recommendation on how to deal with this in the meantime? Building the docker image ourselves requires linux-rc to be available locally. Is that available anywhere? Thank you.

[2022-04-28 23:01] norbertkeri commented on #76
I'm running into the same problem on 7.7.1, and @taylorsilva confirmed on Discord that the fix that is in the linked PR does not solve the issue if you are running the "quickstart" compose setup. If you look in your compose file, and it defined only 1 concourse container, with `command: quickstart`, the fix in the PR will not work.

I was pointed towards using https://github.com/concourse/concours

[2022-06-06 02:29] yuzs2 commented on #68
I'm working on MAC with M1, and I see the exactly same issue...

[2022-06-06 06:04] yuzs2 commented on #36
how can we find the "linux-rc" folder?

[2022-06-24 15:37] balthild commented on #50
I've just brought up worker service in docker swarm successfully with sysbox-runc. But it requires me to set the default runtime of nodes that will run worker containers because docker stack does not suppport the `runtime` prop on `docker-compose.yml`:

`# cat /etc/docker/daemon.json`

[code]

When I try running the `hello-world` example pipeline from the doc, I get a similar error:

[code]

Howev

[2022-06-24 16:08] balthild commented on #50
It seems that the `invalid argument` error is related to #42. But the workaround mentioned there (mount a volume to `/worker-state`) does not work for me.

[2022-08-02 19:48] gumaerc commented on #68
We ran into this recently and our devs that have Apple Silicon have successfully used this: https://hub.docker.com/r/rdclda/concourse.  It would be nice to be able to use the official image though.

[2022-08-15 07:59] alanzanattadev opened #84 "CONCOURSE_RUNTIME=containerd is not the same as --runtime containerd"
Hi,

I've encountered an issue running a Concourse Worker using --runtime containerd rather than the env variable CONCOURSE_RUNTIME=containerd related to cgroups.

The issue prevented runc from properly cleaning containers, leading to OCI resources being unavailable after a while (reproducing the issue required to keep the cluster running for a few days as my workload is very small). The error was

[2022-10-24 11:19] Jaypers opened #85 "Failed to create btrfs filesystem on Kind cluster."
**Environment:**

| Component                    |  Value                                                                          |
| :------------------------------ | :--------------------------------------------------------------------- |
| OS:                                | Ubuntu 22.04.1 LTS (with `cgroups v2` still enabled) |
| Kernel:                           | 5.15.0-52-generic

[2022-10-24 11:53] Jaypers commented on #85
Recreated issue here: https://github.com/concourse/concourse/issues/8603
Closing as duplicate.

[2022-10-24 11:53] #85 closed